<div class="container">
  <div class="row mt-3 text-center">
    <div class="col-md-12">
      <h1>製品名を入力して検索</h1>
    </div>
  </div>
  <div class="row mt-3 text-center">
    <div class="col-md-12">
      <%= form_tag(games_search_path, method: :get) do %>
        <%= text_field_tag :title, @title %>
        <%= button_tag "検索" %>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <% if @games %>
      <% @games.each do |game| %>
      <div class="col-sm-8 px-sm-0 offset-sm-1">
        <%= image_tag game.largeImageUrl %>
        <%= link_to game.title, game_path(game) %>
      </div>
      <% end %>
    <% else %>
    　検索結果は見つかりませんでした
    <% end %>

  </div>
</div>