<div class="container text-center">
  <div class="container mt-5 text-center">
  <div class="row">
    <div class="col-sm-4 text-xs-right text-sm-right text-md-right">
        <p><%= image_tag params[:image], width: "60%" %></p>
    </div>
    <div class="col-sm-8">
      <div class="game-details">
        <h2><strong><%= params[:title] %></strong></h2>
    　  <table class="table">
    　     <thead>
    　       <tr>
              <th>発売元</th>
              <th>対応機種</th>
              <th>発売日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= params[:label] %></td>
              <td><%= params[:hardware] %></td>
              <td><%= params[:sales_date] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div id="stars">
        <label>評価</label>
      </div>

      <script>
        let elem = document.querySelector('#stars');
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[rate]'

        };
        window.raty(elem, opt);
      </script>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
    <%= form_with model: @review, local: true do |f| %>
      <div class="form-group">
        <%= f.label :コメント %>
        <%= f.text_area :comment, size: "50x5" %>
      </div>
      <div class="form-action">
        <th><%= f.submit "送信", class:"btn btn-success" %></th>
      </div>
    <% end %>
    </div>
  </div>
</div>