
<%= render 'public/games/game', game: @game %>


<div class="container-md-12 text-center">

      <div class="row">
        <div class="col-md-2 text-right">
          <%= @review.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-right "><h5>投稿者</h5></div>
        <div class="col-md-3 text-left"><%= @review.customer.name %>さん</div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p><%= @review.rate %><span id="rate_<%= @review.id %>"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-right"><h5>レビュー</h5></div>
        <div class="col-md-12"><%= @review.comment %></div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div id="rate_<%= @review.id %>">
              <label></label>
          </div>
        </div>
      </div>

          <script>
             var elem_star = document.querySelector("#rate_<%= @review.id %>");
             var opt_star = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: "<%= @review.rate %>",
              readOnly: true,
            };
            window.raty(elem_star, opt_star);
          </script>
       <div class="border-bottom" style="padding:10px;"></div>


      <% @review.review_comments.each do |review_comment| %>
      <div class="row">
      　<div class="col-md-3">
        　<%= review_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        　<% if review_comment.customer == current_customer %>
            <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5><%= review_comment.customer.name %>さん</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <%= review_comment.comment %>
        </div>
      </div>
      <div class="border-bottom" style="padding:10px;"></div>
      <% end %>

      <div class="row">
        <div class="col-md-12 text-center">
          <%= form_with model: [@review, @review_comment] do |f| %>
            <%= f.text_area :comment, size: "50x5", placeholder: "コメントをここに" %>
        </div>
        <div class="col-md-12 text-center">
          <%= f.submit "送信する", class:"btn btn-success" %>
        </div>
        <% end %>
      </div>

</div>