<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <nav class="navbar navbar-expand-lg bg-light navbar-right">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag '/assets/gamenet.png', :size => "100x100" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "レビュー", admin_reviews_path %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              </li>

           <% elsif customer_signed_in? %>
              <li class="nav-item">
               <%= link_to "マイページ", customer_path(id: current_customer) %>
              </li>
              <li class="nav-item">
                <%= link_to "レビューする", games_search_path %>
              </li>
              <li class="nav-item">
                <%= link_to "レビュー一覧", reviews_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "About", about_path %>
              </li>
              <li class="nav-item">
                <%= link_to "レビュー一覧", reviews_path %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path %>
              </li>
            <% end %>
          </div>
       </header>
    <%= yield %>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="col mx-auto">
            <p class="text-center">CopyRight Gamenet.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
